*{
  margin: 0;
  padding: 0;
}

nav {
  display: flex;
  margin: 0 auto;
  width: 71%;
  justify-content: space-between;

}

header {
  padding-top: 20px;
}

nav ul {
  display: flex;
  gap: 30px;
  list-style: none;
  font-size: 16px;
  align-items: center;
}

nav ul a {
  text-decoration: none;
}

.btn{
  margin-top: 10px; 
  margin-bottom: 10px;
  padding: 0px 20px;
  background-color: rgb(78, 138, 138);
  font-weight: bold;
  color: white;
  border: none;
  cursor: pointer;
  border-radius: 5px;
}

.btn:hover {
  background-color: rgb(85, 48, 100);
}

.banner-section{
  margin-top: 10px;
  background-image: url(./assets/hero-bg.png);
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

 .banner-section .banner-text {
 padding-top: 70px;
 width: 71%;
 
 }

 .banner-text .early{
  background-color: white;
  border-radius: 10px;
  width: fit-content;
  margin: 0 auto;
  padding: 5px 20px;
 }

.banner-text .Structured {
  font-size: 70px;
  font-weight: bold;
  color: white;
}

.banner-text .not-just {
  font-size: 70px;
  font-weight: bold;
  color: rgb(78, 138, 138);
}

.banner-text .a-private {
  padding-top: 15px;
  color: white;
}

.btn-section {
  padding-top: 20px;
  padding-bottom: 200px;
  
}
.banner-btn1 {
  padding: 10px 25px;
  background-color: rgb(78, 138, 138);
  font-size: 14px;
  font-weight: bold;
  color: white;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  display: inline-flex;
  gap: 10px;
  align-items: center;
}

.banner-btn2 {
  margin-left: 10px;
  padding: 11px 25px;
  background-color: rgb(78, 138, 138);
  font-size: 14px;
  font-weight: bold;
  color: white;
  border: none;
  cursor: pointer;
  border-radius: 5px;
}


.card-section {
  width: 71%;
  margin: 0 auto;
  padding-top: 30px;
}

.card-section h1 {
  font-size: 48px;
  text-align: center;
}

.card-section p {
  padding-top: 10px;
  text-align: center;
}


.card-section .cards {
  display: flex;
  gap: 40px;
  margin-top: 40px;
  justify-content: space-between;
  

}
.card-section .card {
  box-shadow:  0px 4px 10px gray;
  border-radius: 3px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding-top: 40px;
  justify-content: space-between;
  flex: 1;
}


.cards img {
  background-color: rgb(219, 75, 75);
  padding: 5px;
  border-radius: 50%;
  
}

.cards h2 {
  padding: 20px 0px;
  
}

.card p {
  padding-right: 20px;
  padding-left: 20px;
}